.project-heading {
    text-align: center;
    padding:4rem 0 2rem 0 ;
    text-decoration: solid;
    font-size: 800;

}
.project-container {
    max-width: auto;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3,ifr);
    grid-gap: 40px;
    padding: 5rem;

}
.project-card {
    /* background: rgb(19, 187, 234); */
    padding: 1.2rem 1rem;

}
.project-card img {
    width:100%;
    height: 80%;
}
.project-title {
    color: rgba(220, 8, 235, 0.797);
    padding: 1rem 0;
}
.pro-details p {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(249, 14, 14);
    
    
}
.pro-buttons{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
   
}
.pro-buttons .btn {
    padding: 0.5rem 1rem;
}
@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
